notebook
ipython
prefect
scikit-learn
openml
pyyaml
owlready2
rdflib
flask
pytest
python-dateutil
sphinx
sphinx-rtd-theme
importlib_resources
jupyter_ai[all]
google-genai
python-dotenv
langchain-google-vertexai
plotly